name: "publish release - Docker"

on:
  workflow_dispatch:
  release:
    types: [published]

env:
  ELECTRON_SKIP_BINARY_DOWNLOAD: 1

jobs:
  publish-docker-release:
    name: "publish to GitHub Container Registry"
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: 20
    - name: Set up Docker QEMU for arm64 docker builds
      uses: docker/setup-qemu-action@v3
      with:
        platforms: arm64
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - run: npm ci
    - run: npm run build
    - run: ./utils/docker/publish_docker.sh stable
      env:
        DOCKER_REGISTRY: ghcr.io/${{ github.repository_owner }}
